* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  background: #F3F4F6;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}
a { text-decoration: none; color: inherit; }
button {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  cursor: pointer;
  border: none;
  background: none;
}
input, select, textarea {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  outline: none;
}
